/* ============================================ *
 *  Menu Component
 * ============================================ */


/* ============================================ *
* MAX WIDTH QUERIES
* ============================================ */

.menu {
    &_item {
        list-style: none;
        a {
            color: @menuTextColour;
            text-decoration: none;
        }
    }
}

// *** Mobile devices only (less than 480px) *** //
@media (max-width: (@screen-phone - 1)) {
}

// *** Mobile & tablet devices only (less than 770px) *** //
@media (max-width: @screen-sm-max) {

}
// *** Mobile & tablet devices only (less than 980px) *** //
@media (max-width: @screen-md-max) {
}

/* ============================================ *
* MIN WIDTH QUERIES
* ============================================ */

// *** Mobile devices (480px and up) *** //
@media (min-width: @screen-xs-min) {

}

// *** Small devices (tablets, 600px and up) *** //
@media (min-width: @screen-sm-min) {

}

// *** Medium devices (desktops, 770px and up) *** //
@media (min-width: @screen-md-min) {

}

// *** Large devices (large desktops, 980px and up) *** //
@media (min-width: @screen-lg-min) {

}

// *** XLarge devices (Xlarge desktops, 1200px and up) *** //
@media (min-width: @screen-xl-min) {

}