/* ------------------------------------------------------------ *\
	Settings
\* ------------------------------------------------------------ */
@import "tailwindcss/base";

h1 {
	@apply text-4xl;
}
h2 {
	@apply text-3xl;
}
h3 {
	@apply text-2xl;
}
h4 {
	@apply text-xl;
}
a {
	@apply text-blue-500 underline;
}

body {
	min-width: 320px;
	@apply font-sans;
	@apply font-light;
	@apply bg-white;
	@apply text-gray-900;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
* {-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}

a { color: inherit; text-decoration: underline; }
a:hover, a[href^="tel"] { text-decoration: none; @apply text-blue-500; }
h1, h2, h3, h4, h5, h6 { margin-bottom: 1.2rem; font-weight: 700; line-height: 1.2; }
p, ul, ol, dl, hr, table, blockquote { margin-bottom: 1.2rem; }
li { @apply pb-2; }
/* Tablet Portrait */

//@media (max-width: $responsive-sm) {
//	h1 { font-size: $h1-tablet-font-size; }
//	h2 { font-size: $h2-tablet-font-size; }
//	h3 { font-size: $h3-tablet-font-size; }
//	h4 { font-size: $h4-tablet-font-size; }
//	h5 { font-size: $h5-tablet-font-size; }
//	h6 { font-size: $h6-tablet-font-size; }
//}
//
///* Mobile */
//
//@media (max-width: $breakpoint-mobile) {
//	h1 { font-size: $h1-mobile-font-size; }
//	h2 { font-size: $h2-mobile-font-size; }
//	h3 { font-size: $h3-mobile-font-size; }
//	h4 { font-size: $h4-mobile-font-size; }
//	h5 { font-size: $h5-mobile-font-size; }
//	h6 { font-size: $h6-mobile-font-size; }
//}

/* Mobile Portrait */

//@media (max-width: $breakpoint-mobile) {
//	h1 { font-size: $h1-mobile-portrait-font-size; }
//	h2 { font-size: $h2-mobile-portrait-font-size; }
//	h3 { font-size: $h3-mobile-portrait-font-size; }
//	h4 { font-size: $h4-mobile-portrait-font-size; }
//	h5 { font-size: $h5-mobile-portrait-font-size; }
//	h6 { font-size: $h6-mobile-portrait-font-size; }
//}







/** For popup videos and images */
@import '~magnific-popup/dist/magnific-popup.css';
/* overlay at start */
.mfp-fade.mfp-bg {opacity: 0;-webkit-transition: all 0.15s ease-out;-moz-transition: all 0.15s ease-out;transition: all 0.15s ease-out;}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {opacity: 0.8;}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {opacity: 0;}
/* content at start */
.mfp-fade.mfp-wrap .mfp-content {opacity: 0;-webkit-transition: all 0.15s ease-out;-moz-transition: all 0.15s ease-out;transition: all 0.15s ease-out;}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {opacity: 1;}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {opacity: 0;}

@import '_settings.scss';

/* ------------------------------------------------------------ *\
	Generic
\* ------------------------------------------------------------ */

//@import '_generic.reset.scss';
//@import '_generic.base.scss';
//@import '_generic.helpers.scss';



/* ------------------------------------------------------------ *\
	Regions
\* ------------------------------------------------------------ */
//
@import '_region.container.scss';
@import '_region.footer.scss';
@import '_region.shell.scss';
@import '_region.wrapper.scss';

/* ------------------------------------------------------------ *\
	Modules
\* ------------------------------------------------------------ */

@import '_module.accordion.scss';
@import '_module.article.scss';
@import '_module.blog.scss';
@import '_module.blog-post.scss';
@import '_module.book.scss';
@import '_module.btn.scss';
@import '_module.callout.scss';
@import '_module.card.scss';
@import '_module.form.scss';
@import '_module.form-elements.scss';
@import '_module.intro.scss';
@import '_module.link.scss';
@import '_module.list.scss';
@import '_module.nav.scss';
@import '_module.offer.scss';
@import '_module.paging.scss';
@import '_module.project.scss';
@import '_module.search.scss';
@import '_module.section.scss';
@import '_module.service.scss';
@import '_module.slider.scss';
@import '_module.socials.scss';
@import '_module.subscribe.scss';
@import '_module.table.scss';
@import '_module.tabs.scss';
@import '_module.team.scss';
@import '_module.testimonial.scss';
@import '_module.timeline.scss';
@import '_module.video.scss';
@import '_module.widget.scss';
@import '_module.icons.scss';


/* ------------------------------------------------------------ *\
	Themes
\* ------------------------------------------------------------ */

/*@import '_theme*.css';*/

.debug-grid {
	background:transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAFElEQVR4AWPAC97/9x0eCsAEPgwAVLshdpENIxcAAAAASUVORK5CYII=) repeat top left;
}

.debug-grid-16 {
	background:transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAMklEQVR4AWOgCLz/b0epAa6UGuBOqQHOQHLUgFEDnAbcBZ4UGwDOkiCnkIhdgNgNxAYAiYlD+8sEuo8AAAAASUVORK5CYII=) repeat top left;
}

.debug-grid-8-solid {
	background:white url(data:image/gif;base64,R0lGODdhCAAIAPEAAADw/wDx/////wAAACwAAAAACAAIAAACDZQvgaeb/lxbAIKA8y0AOw==) repeat top left;
}

.debug-grid-16-solid {
	background:white url(data:image/gif;base64,R0lGODdhEAAQAPEAAADw/wDx/xXy/////ywAAAAAEAAQAAACIZyPKckYDQFsb6ZqD85jZ2+BkwiRFKehhqQCQgDHcgwEBQA7) repeat top left;
}

@import "tailwindcss/components";
@import "tailwindcss/utilities";