/* ------------------------------------------------------------ *\
	Intro Homepage
\* ------------------------------------------------------------ */


.servicesIntroImage {margin:-125px 0 0 0; min-height:400px;pointer-events:none;}

.intro { font-weight: 300; font-size: 22px; color: $blue; line-height: 1.52; }
.intro .intro_inner { position: relative; display: flex; flex-wrap: wrap; justify-content: flex-end; padding:0; }
.intro .intro_image { position: relative; -webkit-box-flex: 0; -ms-flex: 0 0 52%; flex: 0 0 52%; max-width: 52%; padding-top: 59%; margin-top:0; }
.intro .intro_image svg { position: absolute; top: 0; width: 110%; left:-10%; height: auto; }
.intro .intro_content { position: absolute; top: 25%; left: 0; width: 48%; padding: 0 92px 50px 0; }
.intro .intro_entry { max-width: 443px; margin-left: auto; }
.intro .intro_entry p { margin-bottom: 56px; }
//.intro .intro_title { margin-bottom: 24px; color: $blue2; }
.intro .intro_subtitle { margin-bottom: 24px; font-family: $font-Volkhov; font-weight: 400; font-style: italic; font-size: 25px; color: $gray }
.intro .intro_actions { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; margin: 0 -10px; }
.intro .intro_actions a { margin: 0 10px 10px; }

@media (min-width: $responsive-min-xs) {
	.intro h1 {font-size:3vw;}
}

.intro_title { margin-bottom: 24px; color: $blue2; }
.intro_body { font-size:22px; }

/*  Intro Service  */
.intro-service {  }
.intro-service .intro_image { flex: 0 0 47.3%; max-width: 47.3%; padding-top: 0; }
.intro-service .intro_image .introImageText { position: absolute; bottom: 77px; left: -170px; }
.intro-service .intro_content { padding: 144px 40px 50px 0; }
//.intro-service .intro_title { letter-spacing: -.04em; }
.intro-service .intro_entry { max-width: 498px; }
.intro-service .intro_entry p { margin-bottom: 100px; }
/*  Intro Service Secondary  */
.intro-serviceSecondary .intro_inner { display: block; padding: 241px 0 25px; }
.intro-serviceSecondary .intro_image { position: relative; max-width: 100%; padding-top: 0; margin-top: -45px; text-align: center; }
.intro-serviceSecondary .intro_image .introImageText { position: absolute; top: 139px; left: 50%; margin-left: -79px; transform: translateY(-50%); }
.intro-serviceSecondary .intro_content { position: relative; top: 0; width: 100%; padding: 0; transform: translateY(0); }
.intro-serviceSecondary .intro_entry { max-width: 100%; padding: 0 61px; }
.intro-serviceSecondary .intro_entry h1 { font-size: 48px; }
.intro-serviceSecondary .intro_subtitle { margin-bottom: 52px; }
/*  Intro Service Alt  */
.intro-serviceAlt {  }

.intro-serviceAlt .intro_inner { padding: 110px 0 50px; }

.intro-serviceAlt .intro_image { flex: 0 0 58%; max-width: 58%; padding-top: 0; }

.intro-serviceAlt .intro_content { width: 50.5%; padding: 50px 0; margin-top: 41px; }

.intro-serviceAlt .intro_entry { max-width: 552px; font-size: 19px; line-height: 1.8; color: $blue; }

.intro-serviceAlt .intro_entry h1 { font-size: 48px; }

.intro-serviceAlt .intro_entry p { margin-bottom: 70px; }

//.intro-serviceAlt .intro_title { margin-bottom: 22px; }

.intro-serviceAlt .intro_subtitle { margin-bottom: 20px; line-height: 1.5; }

@media (min-width: $breakpoint-min-lg-desktop) {
	.intro .intro_content { top: 25%; width: 59%; padding: 0 92px; transform: none; }
	.intro .intro_entry { max-width: 60%; margin-right: 0; }

	.intro-serviceAlt .intro_content { width: 50%; }
}

/* Small Desktop */

@media (max-width: $breakpoint-small-desktop) {
	.intro .intro_content { padding-right: 0; }

	.intro-service .intro_content { padding-left: 30px; }
}

/* Tablet Portrait */

@media (max-width: $breakpoint-tablet-portrait) {
	.intro { font-size: 14px; }
	.intro_title { margin-bottom: 12px; }

	.intro .intro_image { flex: 0 0 66%; max-width: 66%; width: 66%; padding-top: 74%; pointer-events: none; }

	.intro .intro_content { width: 50%; padding: 0px 34px 46px; }

	//.intro .intro_title { margin-bottom: 12px; }

	.intro .intro_subtitle { margin-bottom: 19px; font-size: 18px; }

	.intro .intro_entry p { margin-bottom: 18px; font-size:18px; }

	.intro .intro_actions { display: block; margin: 0; }

	.intro .intro_actions a { margin: 0; }

	.intro .intro_actions img { display: block; margin-bottom: 46px; }

	.intro .intro_actions .btn { min-width: 0; height: 44px; padding: 0 20px; line-height: 44px; font-size: 14px; }

	.intro-service .intro_image { flex: 0 0 50%; max-width: 50%; width: 50%; padding-top: 0; }

	.intro-serviceSecondary .intro_inner { padding: 130px 0 25px; }

	.intro-serviceSecondary .intro_image { max-width: 100%; width: 100%; padding-top: 0; margin-top: 0; }

	.intro-serviceSecondary .intro_image .introImageText { top: 20px; }

	.intro-serviceSecondary .intro_content { width: 100%; padding: 50px 0; }

	.intro-serviceAlt .intro_image { flex: 0 0 55%; max-width: 55%; width: 55%; padding-top: 0; }

	.intro-serviceAlt .intro_content { flex: 0 0 45%; max-width: 45%; width: 45%; position: relative; top: 0; padding: 0; margin: 0; transform: translateY(0); }
}

/* Mobile */

@media (max-width: $breakpoint-mobile) {
	.intro { font-size: 22px; }
	.intro_title { margin-bottom: 22px; line-height: 1.17; }

	.intro .intro_image { flex: 0 0 80%; max-width: 80%; width: 80%; padding-top: 90%; margin-bottom: 44px; }

	.intro .intro_content { order: 1; flex: 0 0 100%; max-width: 100%; position: relative; top: 0; left: 0; width: 100%; padding: 50px 30px; margin-top: 0; transform: none; }

	//.intro .intro_title { margin-bottom: 22px; line-height: 1.17; }

	.intro .intro_subtitle { margin-bottom: 26px; font-size: 28px; }

	.intro .intro_entry { max-width: none; margin-left: 0; text-align: center; }

	.intro .intro_entry p { margin-bottom: 0; }

	.intro .intro_actions img { margin: -3px 0 0; }

	.intro .intro_actions .btn { height: 70px; padding: 0 40px; margin-top: 38px; line-height: 70px; font-size: 24px; }

	.intro-service .intro_image { flex: 0 0 50%; max-width: 50%; width: 50%; padding-top: 0; }

	.intro-serviceSecondary .intro_inner { padding: 75px 0; }

	.intro-serviceSecondary .intro_image { max-width: 100%; width: 100%; padding-top: 0; }

	.intro-serviceSecondary .intro_content { margin-bottom: 70px; }

	.intro-serviceAlt .intro_image { flex: 0 0 100%; max-width: 100%; width: 100%; padding-top: 0; }
}

@media (min-width: 1900px) {
  .intro .intro_entry {max-width:80% }
}


@media (max-width: $breakpoint-mobile-portrait) {
	.intro { font-size: 14px; color: $gray6; }
	.intro_title { margin-bottom: 11px; color: $black; }

	.intro .intro_image { flex: 0 0 70%; max-width: 70%; width: 70%; padding-top: 79%; margin-bottom: 0; }

	.intro .intro_content { padding: 20px 30px; }

	//.intro .intro_title { margin-bottom: 11px; color: $black; }

	.intro .intro_subtitle { margin-bottom: 18px; font-size: 18px; }

	.intro .intro_actions img { max-width: 82%; margin: -4px auto 22px; }

	.intro .intro_actions .btn { height: 44px; padding: 0 25px; line-height: 44px; font-size: 15px; }

	.intro-service .intro_image { flex: 0 0 60%; max-width: 60%; width: 60%; padding-top: 0; }

	.intro-service .intro_image .introImageText { display: none; }

	.intro-serviceSecondary .intro_image { max-width: 100%; width: 100%; padding-top: 0; }

	.intro-serviceSecondary .intro_image .introImageText { top: -20px; }

	.intro-serviceSecondary .intro_content { padding: 20px 0; margin-bottom: 100px; }

	.intro-serviceSecondary .intro_entry { padding: 0; }

	.intro-serviceAlt .intro_image { flex: 0 0 100%; max-width: 100%; width: 100%; padding-top: 0; }

	.intro-serviceAlt .intro_content { padding: 20px 0; }

	.intro-serviceAlt .intro_entry h1 { font-size: 46px; }
}

/* ------------------------------------------------------------ *\
	Intro Service Tertiary
\* ------------------------------------------------------------ */

.introServiceTertiary .intro_inner { padding: 110px 0 78px; }
.introServiceTertiary .intro_image { position: relative; margin-top: -37px; text-align: center; pointer-events: none; padding: 0 4vw;}
.introServiceTertiary .intro_imageInner { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.introServiceTertiary .intro_imageInner .shell { position: relative; height: 100%; }
.introServiceTertiary .intro_imageInner .introImageText { position: absolute; }
.introServiceTertiary .intro_imageInner .introImageText-position1 { top: 62.4%; left: 53px; }
.introServiceTertiary .intro_entry { padding: 0 62px; }
.introServiceTertiary .intro_title { margin-bottom: 24px; color: $blue2; }
.m_pullIntoMenu {margin-top: -103px;padding-top: 103px;}

.introServiceTertiary .intro_subtitle { font-family: $font-Volkhov; font-style: italic; font-weight: 400; color: $gray13; font-size: 25px; }

/* Tablet Portrait */
@media (max-width: $breakpoint-tablet-portrait) {
	.introServiceTertiary .intro_inner { padding: 150px 0 78px; }
	.introServiceTertiary .intro_image .introImageText-position1 { left: 5%; }
	.introServiceTertiary .intro_content { margin-bottom: 50px; }
}

/* Mobile */

@media (max-width: $breakpoint-mobile) {
	.introServiceTertiary .intro_content { margin-bottom: 80px; text-align: center; }
	.introServiceTertiary .intro_entry { padding: 0; }
	.introServiceTertiary .intro_entry h1 { font-size: 38px; }
	.introServiceTertiary .intro_subtitle { margin-bottom: 20px; }
	.introServiceTertiary .intro_image .introImageText { display: none; }
}

/* ------------------------------------------------------------ *\
	Intro Service Tertiary Alt
\* ------------------------------------------------------------ */

.introServiceTertiaryAlt { padding: 126px 0; }

.introServiceTertiaryAlt .intro_inner { display: flex; align-items: center; }

.introServiceTertiaryAlt .intro_image { position: relative; right: -34px; flex: 0 0 45%; max-width: 45%; }

.introServiceTertiaryAlt .intro_image .introImageText { position: absolute; }

.introServiceTertiaryAlt .intro_image .introImageText-position1 { top: 75%; left: -38.4%; }

.introServiceTertiaryAlt .intro_content { flex: 0 0 55%; max-width: 55%; padding: 0 50px 0 100px; margin-top: 40px; }

.introServiceTertiaryAlt .intro_entry { font-size: 19px; color: $blue; line-height: 1.8; }

.introServiceTertiaryAlt .intro_entry h1 { font-size: 48px; }

.introServiceTertiaryAlt .intro_entry h4 { font-size: 25px; }

.introServiceTertiaryAlt .intro_entry p { margin-bottom: 71px; }

//.introServiceTertiaryAlt .intro_title { margin-bottom: 25px; color: $blue2; }

.introServiceTertiaryAlt .intro_subtitle { margin-bottom: 25px; font-family: $font-Volkhov; font-style: italic; font-weight: 400; color: $gray13; }

/* Tablet Portrait */

@media (max-width: $breakpoint-tablet-portrait) {
	.introServiceTertiaryAlt .intro_content { padding: 0; }

	.introServiceTertiaryAlt .intro_image .introImageText-position1 { top: 110%; }
}

/* Mobile */

@media (max-width: $breakpoint-mobile) {
	.introServiceTertiaryAlt { padding: 50px 0; }

	.introServiceTertiaryAlt .intro_inner { display: block; }

	.introServiceTertiaryAlt .intro_content { max-width: 100%; margin-bottom: 50px; }

	.introServiceTertiaryAlt .intro_entry { text-align: center; }

	.introServiceTertiaryAlt .intro_entry h1 { font-size: 38px; }

	.introServiceTertiaryAlt .intro_entry h4 { font-size: 22px; }

	.introServiceTertiaryAlt .intro_entry p { margin-bottom: 20px; }

	.introServiceTertiaryAlt .intro_image { position: relative; right: 0; max-width: 100%; padding: 0 20px; }

	.introServiceTertiaryAlt .intro_image .introImageText { display: none; }
}

/* ------------------------------------------------------------ *\
	Intro Secondary
\* ------------------------------------------------------------ */

.introSecondary-dark {
	background: linear-gradient(black, #080e26);
	.intro_entry {color: $white;}
	.intro_title {color: $white;}
	.intro_subtitle {color: $white;}

}
.intro_subtitle { margin-bottom: 43px; }


/* Tablet Portrait */

@media (max-width: $breakpoint-tablet-portrait) {
	.introSecondary-dark { padding: 150px 0 30px; }
}

/* Mobile */

@media (max-width: $breakpoint-mobile) {
	.introSecondary .intro_inner { display: block; padding: 0; }
	.introSecondary-dark { padding: 115px 0 30px; }
}

/* ------------------------------------------------------------ *\
	Intro Tertiary
\* ------------------------------------------------------------ */

.introTertiary { position: relative; background-size: cover; background-position: center; background-repeat: no-repeat; height:100vh }

.introTertiary:after { content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, .01) 100%); opacity: .5; }

.introTertiary .intro_inner { position: relative; z-index: 5; padding: 250px 5px 319px;  height:100vh; }

//.introTertiary .intro_title { font-weight: 700; color: $white; }

.introTertiary .intro_subtitle { margin-bottom: 24px; font-family: $font-Volkhov; font-style: italic; font-weight: 400; color: $white; }

.introTertiary .intro_entry h2 { font-size: 44px; }

.introTertiary .intro_entry h6 { font-size: 16px; }

.introTertiary .intro_image { position: absolute; bottom: -10px; left: 50%; display: inline-block; padding: 13px 32px; border-radius: 4px; background-color: $white; transform: translateX(-50%); }

/* Mobile */

@media (max-width: $breakpoint-mobile) {
	.introTertiary .intro_inner { position: relative; z-index: 5; padding: 100px 0; }

	.introTertiary .intro_entry h2 { font-size: 30px; }

	.introTertiary .intro_image { bottom: -30px; padding: 10px 20px; transform: scale(.7) translateX(-70%); }
}

/* ------------------------------------------------------------ *\
	Intro Quaternary
\* ------------------------------------------------------------ */

.introQuaternary { padding: 30px 0; }

.introQuaternary .intro_inner { display: flex; align-items: center; margin: 0 -75px; }

.introQuaternary .intro_content { flex: 0 0 51.8%; max-width: 51.8%; padding: 0 75px; margin-bottom: 153px; }

.introQuaternary .intro_image { position: relative; flex: 0 0 48.2%; max-width: 48.2%; padding: 0 75px; }

.introQuaternary .intro_image .introImageText { position: absolute; bottom: -25px; left: -122px; }

.introQuaternary .intro_entry { max-width: 537px; padding: 0 $shell-gutter; margin-left: auto; font-size: 22px; line-height: 1.55; color: $blue; }

.introQuaternary .intro_entry h4 { font-size: 25px; }

.introQuaternary .intro_title { margin-bottom: 24px; font-weight: 700; color: $blue2; }

.introQuaternary .intro_subtitle { margin-bottom: 23px; font-family: $font-Volkhov; font-style: italic; font-weight: 400; color: $gray13; }

/*  Intro Quaternary Alt  */

.bgTextTitle { position: relative; }
.bgTextTitle:before { content: attr(data-title); position: absolute; top: 250px; left: 0; z-index: -5; font-weight: 800; font-size: 331px; line-height: 1; color: $blue14; white-space: nowrap; pointer-events: none; opacity: .5; transform: translateY(-50%); }





/* Tablet Portrait */

@media (max-width: $breakpoint-tablet-portrait) {
	.introQuaternary .intro_content { margin-bottom: 0; }

	.introQuaternary .intro_image .introImageText { position: absolute; bottom: -50px; left: -100px; }


}

/* Mobile */

@media (max-width: $breakpoint-mobile) {
	.introQuaternary .intro_inner { display: block; margin: 0; }

	.introQuaternary .intro_content { max-width: 100%; padding: 0; margin-bottom: 50px; }

	.introQuaternary .intro_image { max-width: 100%; padding: 0 20px; }

	.introQuaternary .intro_image .introImageText { display: none; }

	.introQuaternary .intro_entry { font-size: 14px; text-align: center; }

	.introQuaternary .intro_entry h1 { font-size: 29px; }

	.introQuaternary .intro_entry h4 { font-size: 18px; }

	//.introQuaternary-alt { padding: 140px 0 50px; }

	.bgTextTitle:before { font-size: 130px; }
}

/* ------------------------------------------------------------ *\
	Intro Quinary
\* ------------------------------------------------------------ */

.introQuinary { position: relative; }

.introQuinary .intro_image { position: relative; padding-top: 97%; }

.introQuinary .intro_image svg { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.introQuinary .intro_content { position: absolute; top: 0; left: 0; z-index: 5; width: 100%; padding: 185px 0; }

.introQuinary .intro_entry { max-width: 590px; padding: 0 18px; color: $white; }

.introQuinary .intro_entry h1 { font-size: 65px; }

.introQuinary .intro_entry h4 { font-size: 25px; line-height: 1.6; }

.introQuinary .intro_entry .btn { min-width: 200px; height: 50px; font-size: 16px; color: $blue15; line-height: 50px; }

.introQuinary .intro_title { margin-bottom: 19px; font-weight: 800; letter-spacing: 0; line-height: 1.22; }

.introQuinary .intro_subtitle { margin-bottom: 95px; font-family: $font-Volkhov; font-weight: 400; font-style: italic; line-height: 2.1; }

/* Small Desktop */

@media (max-width: $breakpoint-small-desktop) {
	.introQuinary .intro_content { padding: 130px 0; }

	.introQuinary .intro_subtitle { margin-bottom: 50px; }
}

/* Tablet Portrait */
@media (max-width: $breakpoint-tablet-portrait) {
	.introQuinary .intro_subtitle { margin-bottom: 20px; }

	.introQuinary .intro_entry h1 { font-size: 34px; }

	.introQuinary .intro_entry h4 { font-size: 20px; }
}

/* Mobile */

@media (max-width: $breakpoint-mobile) {
	.introQuinary .intro_inner { display: flex; flex-wrap: wrap-reverse; }

	.introQuinary .intro_content { flex: 0 0 100%; max-width: 100%; position: relative; padding: 50px 0; text-align: center; }

	.introQuinary .intro_image { flex: 0 0 100%; max-width: 100%; }

	.introQuinary .intro_subtitle { margin-bottom: 30px; line-height: 1.4; color: $gray; }

	.introQuinary .intro_entry { padding: 0; color: $black; }

	.introQuinary .intro_entry h1 { font-size: 32px; }

	.introQuinary .intro_entry h4 { font-size: 18px; }

	.introQuinary .intro_entry .btn { background-color: $blue3; color: $white; }

	.introQuinary .intro_entry .btn:hover { background-color: $blue4; }
}

/* ------------------------------------------------------------ *\
	Intro Senary
\* ------------------------------------------------------------ */

.introSenary { position: relative; }

.introSenary .intro_image { position: relative; padding-top: 54.47%; }

.introSenary .intro_image svg { position: absolute; top: 0; left: 0; width: 100%; height: auto }

.introSenary .intro_content { position: absolute; top: 0; left: 0; width: 100%; height: 100%; padding: 206px 0; }

.introSenary .intro_entry { padding: 0 27px; }

.introSenary .intro_entry h1 { font-size: 48px; }

.introSenary .intro_entry h4 { font-size: 24px; }

.introSenary .intro_title { margin-bottom: 28px; font-weight: 800; color: $white; }

.introSenary .intro_subtitle { margin-bottom: 65px; font-family: $font-Volkhov; font-weight: 400; font-style: italic; color: $white; }

.introSenary .list-contacts { padding: 0 4px; font-size: 21px; }

.introSenary .list-contacts h5 { margin-bottom: 0; font-size: 21px; }

.introSenary .list-contacts li + li { margin-top: 27px; }

/* Small Desktop */

@media (max-width: $breakpoint-small-desktop) {
	.introSenary .intro_content { padding: 120px 0; }
}

/* Tablet Portrait */
@media (max-width: $breakpoint-tablet-portrait) {
	.introSenary .intro_content { padding: 100px 0; }

	.introSenary .intro_entry h1 { font-size: 34px; }

	.introSenary .intro_entry h4 { font-size: 20px; }

	.introSenary .intro_title { margin-bottom: 15px; }

	.introSenary .intro_subtitle  { margin-bottom: 30px; }

	.introSenary .list-contacts { display: block; }

	.introSenary .list-contacts li { max-width: 100%; }
}

/* Mobile */

@media (max-width: $breakpoint-mobile) {
	.introSenary .intro_content { position: relative; padding: 50px 0; }

	.introSenary .intro_entry { padding: 0; text-align: center; }

	.introSenary .intro_title { color: $black; }

	.introSenary .intro_subtitle { color: $black; }

	.introSenary .list-contacts { color: $black; }

	.introSenary .list-contacts h5 { color: $black; }
}
