/* ------------------------------------------------------------ *\
	Button
\* ------------------------------------------------------------ */

//.btn { display: inline-block; vertical-align: middle; min-width: 190px; height: 55px; border: 0; border-radius: 3px; font-weight: 700; font-size: 15px; line-height: 55px; text-align: center; text-decoration: none; -webkit-appearance: none; -moz-appearance: none; appearance: none; -webkit-transition: border .2s, background .2s, color .2s, transform .2s; -o-transition: border .2s, background .2s, color .2s, transform .2s; transition: border .2s, background .2s, color .2s, transform ease .2s; padding:0 20px}
