@import "vars.css";
@import "tailwindcss/base";
@import "base.css";
@import 'nav.css';
@import 'icons.css';
@import "tailwindcss/components";
/** place components and theme css code here **/
@import "theme.css";
@import "tailwindcss/utilities";

/*h1 { @apply text-4xl; }*/
/*h2 { @apply text-3xl; }*/
/*h3 { @apply text-2xl; }*/
/*h4 { @apply text-xl; }*/
/*a { @apply text-blue-500 underline; }*/
/*body { @apply font-sans font-light text-gray-900;  min-width: 320px; -webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale; }*/
/** { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }*/
/*a { color: inherit; text-decoration: underline; }*/
/*a:hover { text-decoration: none; @apply text-blue-500; }*/
/*h1, h2, h3, h4, h5, h6 { margin-bottom: 1.2rem; font-weight: 700; line-height: 1.2; }*/
/*p, ul, ol, dl, hr, table, blockquote { margin-bottom: 1.2rem; }*/
/*li { @apply pb-2; }*/

.debug { background:transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAFElEQVR4AWPAC97/9x0eCsAEPgwAVLshdpENIxcAAAAASUVORK5CYII=) repeat top left; }
.debug-16 { background:transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAMklEQVR4AWOgCLz/b0epAa6UGuBOqQHOQHLUgFEDnAbcBZ4UGwDOkiCnkIhdgNgNxAYAiYlD+8sEuo8AAAAASUVORK5CYII=) repeat top left; }
.debug-8-solid { background:white url(data:image/gif;base64,R0lGODdhCAAIAPEAAADw/wDx/////wAAACwAAAAACAAIAAACDZQvgaeb/lxbAIKA8y0AOw==) repeat top left; }
.debug-16-solid { background:white url(data:image/gif;base64,R0lGODdhEAAQAPEAAADw/wDx/xXy/////ywAAAAAEAAQAAACIZyPKckYDQFsb6ZqD85jZ2+BkwiRFKehhqQCQgDHcgwEBQA7) repeat top left; }

/** Css written here will not be overridable by utilities **/