@import "vars.css";
@import "tailwindcss/base";
@import 'icons.css';
@import "tailwindcss/components";
@import "theme.css";

/* Base styles */
/***************/
body { @apply font-sans font-light text-gray-900; min-width: 320px; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
a:hover { text-decoration: none; @apply text-blue-500; }
h1, h2, h3, h4, h5, h6 { margin-bottom: 1.2rem; font-weight: 700; line-height: 1.2; }
p, ol, dl, hr, table, blockquote { margin-bottom: 1.2rem; }
.no-scroll { overflow: hidden !important; height: 100% !important; }

@import "tailwindcss/utilities";

/* Additional Newicon Utilities */
/********************************/
.transition-opacity-transform { transition-property: opacity, transform; }
.delay-5 { transition-delay: 5ms }
.delay-100 { transition-delay: 100ms }
.delay-200 { transition-delay: 200ms }
.delay-300 { transition-delay: 300ms }
.delay-500 { transition-delay: 500ms }
/*
 * Hide alpine js components until they are initialised
 * This prevents any flicker of modals or elements
 */
[x-cloak] { display:none; }


/*.debug { background:transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAFElEQVR4AWPAC97/9x0eCsAEPgwAVLshdpENIxcAAAAASUVORK5CYII=) repeat top left; }*/
/*.debug-16 { background:transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAMklEQVR4AWOgCLz/b0epAa6UGuBOqQHOQHLUgFEDnAbcBZ4UGwDOkiCnkIhdgNgNxAYAiYlD+8sEuo8AAAAASUVORK5CYII=) repeat top left; }*/
/*.debug-8-solid { background:white url(data:image/gif;base64,R0lGODdhCAAIAPEAAADw/wDx/////wAAACwAAAAACAAIAAACDZQvgaeb/lxbAIKA8y0AOw==) repeat top left; }*/
/*.debug-16-solid { background:white url(data:image/gif;base64,R0lGODdhEAAQAPEAAADw/wDx/xXy/////ywAAAAAEAAQAAACIZyPKckYDQFsb6ZqD85jZ2+BkwiRFKehhqQCQgDHcgwEBQA7) repeat top left; }*/

