/* ------------------------------------------------------------ *\
	Header
\* ------------------------------------------------------------ */

/*
 noScroll added to the html tag prevents the page being scrollable - this is useful
 when displaying the mobile navigation menu that we want to scroll
 when on a big page the noScroll prevents the background page scrolling
 this class can only be added to the html tag - hence the over specific css selector
*/
html.noScroll, html.noScroll body {overflow:hidden !important; height: 100% !important;}

.header { top: 0; left: 0; z-index: 10; width: 100%; }
.header_mobileLogo { display: none; position: relative; font-size: 0;}
.header_mobileLogo img {margin:0 auto; display:block;}
.navTrigger { display: none; }
.header-transparent { padding: 10px 0; }
.header-transparent .nav > ul > li > a { opacity: .6; }

/* Tablet Portrait */

@media (max-width: 1023px) {
	.header {position: fixed; padding: 15px 0 17px;backdrop-filter: saturate(180%) blur(20px);background-color: rgba(255,255,255,0.7);}
	.header_inner { padding: 0 21px 0 27px; }
	.header_mobileLogo { display:  block; }
	.header .nav { position: fixed; top: 47px; bottom: 0; left: 0; width: 100%; }
	.header .navTrigger { position: absolute; top: 50%; left: 20px; display: block; transform: translateY(-50%); }
	.header-transparent .nav > ul > li > a { opacity: 1; }
}

@media (max-width: 375px) {
	.header_mobileLogo { margin-top: -3px; }
}

/* ------------------------------------------------------------ *\
	Dropdown
\* ------------------------------------------------------------ */

.dropdown { position: absolute; z-index: 100000; top: 100%; left: -162px; transform: scale(0.95); opacity: 0; pointer-events: none;
	transition: opacity .35s cubic-bezier(.2, 1, .22, 1), transform .35s cubic-bezier(.2, 1, .22, 1);
	transform-origin: top center; will-change:opacity, transform; width: 485px; padding: 0; border-radius: 8px; background-color: #fff; box-shadow: 0 50px 100px -20px rgba(50, 50, 93, 0.25), 0 30px 60px -30px rgba(0, 0, 0, 0.3), 0 -18px 60px -10px rgba(0, 0, 0, 0.025);}
.dropdown_hasTwoColumn {width:600px; left:calc(-600px/2 + 50%)}
.dropdown_col {flex:1}
.dropdown_hasTwoColumn .dropdown_group { display:flex; }
.dropdown .dropdown_group { padding: 0; }
.dropdown .dropdown_group + .dropdown_group { margin-top: 23px; border-top: 1px solid #D8E3E7; }
.dropdown .dropdown_group ul { padding: 0; margin: 0; list-style-type: none; }
.dropdown .dropdown_group .dropdown_item { margin: 38px; padding:0; }
.dropdown .dropdown_item a { display: flex; margin: 0 -14px; text-decoration: none; }
.dropdown .dropdown_item a:hover .dropdown_title { color: #0067FF; }
.dropdown .dropdown_item a:hover .dropdown_note { color: #858791; }
.dropdown .dropdown_image { flex: 0 0 61px; max-width: 61px; padding: 0 14px; }
.dropdown .dropdown_content { flex: 1 0; padding: 0 15px; font-size: 14px; color: #929DB3; }
.dropdown .dropdown_title { margin: 0 0 2px; line-height: 1; color: #051E50; font-size: 17px; font-weight:600 }
.dropdown .dropdown_content .dropdown_note { margin: 0; }


.nav > ul > li.isActive .nav_link {
  /*color:#0067FF;*/
  color: #004FFE;
  font-weight:600;
}

/* Tablet Portrait */

@media (max-width: 1023px) {
	.dropdown { width: 100%; padding-bottom: 32px; margin-top: -6px; background-color: transparent; box-shadow: none; }
	.dropdown .dropdown_group + .dropdown_group { position: relative; border-top: 0; }
	.dropdown .dropdown_group { padding: 0 21px; }
	.dropdown .dropdown_group ul { padding: 0; }
	.dropdown .dropdown_group li + li { margin-top: 26px; }
	.dropdown .dropdown_item a { align-items: center; }
	.dropdown .dropdown_title { margin: 2px 0 0; font-weight: 400; letter-spacing: 0; text-transform: none; }
	.dropdown .dropdown_content .dropdown_note { display: none; }
}
/* ------------------------------------------------------------ *\
	Nav
\* ------------------------------------------------------------ */

.nav { font-weight: 300; font-size: 15px; color: #000; }
.nav > ul { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-pack: distribute; justify-content: space-around; padding: 0 14px 0 5px; margin-left:0; }
.nav > ul > li { position: relative; }
.nav > ul > li > a { position: relative; display: inline-block; padding: 20px 50px 30px; text-decoration: none; white-space: nowrap; }
.nav > ul > li > a:after { content: ''; position: absolute; bottom: 25px; left: 50%; width: 50%; height: 1px; background-color: currentColor; -webkit-transform: translateX(-50%) scaleX(0); -ms-transform: translateX(-50%) scaleX(0); transform: translateX(-50%) scaleX(0); -webkit-transition: -webkit-transform .4s; transition: -webkit-transform .4s; -o-transition: transform .4s; transition: transform .4s; transition: transform .4s, -webkit-transform .4s; }
/* does the underlines */
.nav > ul > li:hover { color: #004FFE;}
.nav > ul > li.navBrand > a {padding: 19px 50px 30px;}
.nav .textLight { color: #fff; }
@media (min-width: 1024px) {
	.nav .has_dropdown:hover .dropdown { opacity: 1; pointer-events: all;  transform: none; }
	.nav .has_dropdown:hover:after { opacity: 1; pointer-events: all; }
}
@media (min-width: 1023px ) and (max-width: 1500px) {
	.nav .navServices .dropdown {left: -78px;}
	.nav .navServices .dropdown {left: -78px;}
	.nav .navServices .dropdown:after {left: 155px;}
}
/* Tablet Portrait */
@media (max-width: 1023px) {
	.dropdown .dropdown_group .dropdown_item { margin: 14px 0; }
	.dropdown_hasTwoColumn { left: 0; }
	.dropdown_hasTwoColumn .dropdown_grou.navp {display:block;}
	.nav {padding: 0 20px 0;background-color: #fff;opacity: 0;pointer-events: none;transform-origin: top center;-webkit-transform: scale(0.95);-ms-transform: scale(0.95);transform: scale(0.95);will-change: opacity, transform;border-radius: 0;-webkit-overflow-scrolling: touch;overflow-y: auto;box-shadow:none;}
	.nav > ul { position: relative; z-index: 5; display: block; padding: 0; font-weight: 600; font-size: 14px; letter-spacing: .1em; color: #798192; text-transform: uppercase; }
	.nav > ul > li:last-of-type > a { border-bottom: 0 solid #E3E3E3; }
	.nav > ul > li > a { display: inline-block; width: 100%; padding: 25px 19px 20px; border-top: 1px solid #E3E3E3; }
	.nav > ul > li > a:after { display: none; }
	.nav .dropdown { position: relative; top: 0; left: 0; display: block; transform: none; opacity: 0; pointer-events: all; }
	.nav > ul > li:nth-child(2) .dropdown { left: 0; transform: none; }
	.nav .textLight { color: inherit; }
	.open .nav { opacity: 1; transform: translateY(0); pointer-events: all;height:100vh; }
	.open .nav > ul { opacity: 1; transition: opacity .4s .4s; }
	.open .nav .dropdown { position: relative; top: 0; left: 0; display: block; transform: none; opacity: 1; pointer-events: all; }
}
@media (min-width: 1023px) {
	.dropdown:before {position: absolute;border: 10px;}
	/* dropdown items hover and active state */
	.dropdown .dropdown_item a:hover .dropdown_content h5,
	.dropdown .dropdown_item.isActive a .dropdown_content h5 { color: #0067FF; }
	/* Create a dropdown pointer up arrow */
	.dropdown:after { position: absolute;display: block;border-width: 10px;left: 50%;border-style: solid;content: " ";border-color: transparent transparent #ffffff transparent;top: -19px;margin-left: -10px;}
}
.navTrigger.textLight span { background:white; }
.open .navTrigger.textLight span { background:black; }

/* ------------------------------------------------------------ *\
	Nav Trigger
\* ------------------------------------------------------------ */
.navTrigger { position: relative; display: none; width: 24px; height: 12px; }
.navTrigger span { position: absolute; display: block; height: 2px; width: 100%; border-radius: 4px; background: #00163D; transition: top .2s .25s, opacity .2s .25s, transform .2s 0s; }
.navTrigger span:nth-child(1) { top: 0; }
.navTrigger span:nth-child(2) { top: 10px; }
.open .navTrigger span { transition: top .2s, opacity .2s, transform .2s .25s; }
.open .navTrigger span:nth-child(1),
.open .navTrigger span:nth-child(2) { top: 6px; }
.open .navTrigger span:nth-child(1) { transform: rotate(45deg); }
.open .navTrigger span:nth-child(2) { transform: rotate(-45deg); }