/* Typography helpers */
/**********************/
.ni-italic { @apply font-serif text-gray-500 italic font-thin; }
.ni-freehand { font-family: TrashHand, Arial, sans-serif ; color: #0067FF; }
.ni-bg-title { position: relative; }
.ni-bg-title:before { content: attr(data-title); @apply text-gray-400; position: absolute; top: 250px; left: 0; z-index: -5; font-weight: 800; font-size: 331px; line-height: 1; white-space: nowrap; pointer-events: none; opacity: .5; transform: translateY(-50%); }

/* Buttons */
/***********/
.btn { display: inline-block; vertical-align: middle; border-radius: 3px; font-weight: 700; text-align: center; text-decoration: none; appearance: none; padding:0 20px; }
/* outline buttons http://localhost/newicon-website/public/styleguide#button-primary */
.btn-primary { @apply border border-blue-500 bg-blue-500 text-white; }
.btn-primary:hover { @apply border border-blue-400 bg-blue-400 text-white; }
.btn-primary:active { @apply bg-blue-600; }
.btn-primary:focus { outline: none; }
/* outline buttons http://localhost/newicon-website/public/styleguide#button-outline */
.btn-outline-primary { @apply border border-blue-500 text-blue-500 bg-transparent; }
.btn-outline-primary:hover { @apply border-blue-400 text-blue-400; }
.btn-outline-primary:focus { outline: none; }

.btn-lg { @apply px-8 py-4 text-base leading-6; }

.btn-fx { @apply transition shadow transform duration-150; }
.btn-fx:hover { @apply -translate-y-px shadow-md; }
.btn-fx:active { @apply translate-y-px shadow-none; }

.btn-shadow {box-shadow: 0 12px 18px 0 rgba(0, 0, 0, 0.2)}
.btn-shadow:active{box-shadow: inset 0 5px 5px rgba(0,0,0,0.2)}



/* 
.navTrigger.textLight span { background:white; }
.open .navTrigger.textLight span { background:black; } */

/* ------------------------------------------------------------ *\
	Nav Trigger
\* ------------------------------------------------------------ */
.burger { position: relative; display: none; width: 24px; height: 12px; }
.burger span { position: absolute; display: block; height: 2px; width: 100%; border-radius: 4px; transition: opacity .2s .25s, transform .2s 0s, top .2s .25s,; } /*  */
.burger span:nth-child(1) { top: 0; }
.burger span:nth-child(2) { top: 10px; }
.open .burger span { transition: opacity .2s, transform .2s .25s, top .2s; background-color:black; } /* top .2s, */
.open .burger span:nth-child(1),
.open .burger span:nth-child(2) { top: 6px; }
.open .burger span:nth-child(1) { transform: rotate(45deg); }
.open .burger span:nth-child(2) { transform: rotate(-45deg); }