.ni-italic { @apply font-serif text-gray-700 italic font-thin; }

/* COMPLETE CSS */
/****************/
.btn { display: inline-block; vertical-align: middle; border-radius: 3px; font-weight: 700; text-align: center; text-decoration: none; appearance: none; padding:0 20px; }
/* outline buttons http://localhost/newicon-website/public/styleguide#button-primary */
.btn-primary { @apply border border-blue-500 bg-blue-500 text-white; }
.btn-primary:hover { @apply border border-blue-400 bg-blue-400 text-white; }
.btn-primary:active { @apply bg-blue-600; }
.btn-primary:focus { outline: none; }
/* outline buttons http://localhost/newicon-website/public/styleguide#button-outline */
.btn-outline-primary { @apply border border-blue-500 text-blue-500 bg-transparent; }
.btn-outline-primary:hover { @apply border-blue-400 text-blue-400; }
.btn-outline-primary:focus { outline: none; }

.btn-lg { @apply px-8 py-4 text-base leading-6; }

.btn-fx { @apply transition shadow transform duration-150; }
.btn-fx:hover { @apply -translate-y-px shadow-md; }
.btn-fx:active { @apply translate-y-px shadow-none; }
/****************/

.btn-shadow {box-shadow: 0 12px 18px 0 rgba(0, 0, 0, 0.2)}
.btn-shadow:active{box-shadow: inset 0px 5px 5px rgba(0,0,0,0.2)}