/* ------------------------------------------------------------ *\
	Base
\* ------------------------------------------------------------ */

body { min-width: 320px;  background-color: $white; font-family: $font-Nunito; font-weight: $font-weight-base; font-size: $font-size-base; line-height: $line-height-base; color: $blue; }

a { color: inherit; text-decoration: underline; }

a:hover,
a[href^="tel"] { text-decoration: none; }

h1,
h2,
h3,
h4,
h5,
h6 { margin-bottom: 0.75em; font-weight: 700; line-height: 1.2; }

h1 { font-size: $h1-font-size; letter-spacing: -.02em; }
h2 { font-size: $h2-font-size; letter-spacing: -.02em; }
h3 { font-size: $h3-font-size; }
h4 { font-size: $h4-font-size; }
h5 { font-size: $h5-font-size; }
h6 { font-size: $h6-font-size; }

p,
ul,
ol,
dl,
hr,
table,
blockquote { margin-bottom: 1.2em; }

/* Tablet Portrait */

@media (max-width: $responsive-sm) {
	h1 { font-size: $h1-tablet-font-size; }
	h2 { font-size: $h2-tablet-font-size; }
	h3 { font-size: $h3-tablet-font-size; }
	h4 { font-size: $h4-tablet-font-size; }
	h5 { font-size: $h5-tablet-font-size; }
	h6 { font-size: $h6-tablet-font-size; }
}

/* Mobile */

@media (max-width: $breakpoint-mobile) {
	h1 { font-size: $h1-mobile-font-size; }
	h2 { font-size: $h2-mobile-font-size; }
	h3 { font-size: $h3-mobile-font-size; }
	h4 { font-size: $h4-mobile-font-size; }
	h5 { font-size: $h5-mobile-font-size; }
	h6 { font-size: $h6-mobile-font-size; }
}

/* Mobile Portrait */

@media (max-width: $breakpoint-mobile) {
	h1 { font-size: $h1-mobile-portrait-font-size; }
	h2 { font-size: $h2-mobile-portrait-font-size; }
	h3 { font-size: $h3-mobile-portrait-font-size; }
	h4 { font-size: $h4-mobile-portrait-font-size; }
	h5 { font-size: $h5-mobile-portrait-font-size; }
	h6 { font-size: $h6-mobile-portrait-font-size; }
}


ul {margin-left:30px}
li { padding-bottom: 10px; }