/* ------------------------------------------------------------ *\
	Helpers
\* ------------------------------------------------------------ */

//.js--stickyOnScroll.fixed { position: fixed !important; top: 0; }
//
//.js--stickyOnScroll.bottom-align { position: absolute !important; top: auto; bottom: 0; }
//
///*  Full Height  */
//
//.full-height { min-height: 100vh; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

/*  Clear  */

.clear { content: ''; display: block; clear: both; }

/*  Notext  */

.notext { overflow: hidden; text-indent: 101%; white-space: nowrap; }

/*  Hidden  */

[hidden],
.hidden { display: none !important; }

/*  Alignleft  */

.alignleft { float: left; }

/*  Alignright  */

.alignright { float: right; }

/*  Disabled  */

[disabled],
.disabled { cursor: default; }

/*  Grid  */

.cols { display: flex; flex-flow: row wrap; margin: 0 -10px; }

.col { max-width: 100%; flex: 1; }
.col-1of2 { max-width: 50%; flex: 0 0 50%; }

.cols .col-1of5 { flex: 0 0 20%; max-width: 20%; }

/*  Responsive Helpers  */

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block { display: none !important; }

@media (max-width: $responsive-xs) {
	.hidden-xs { display: none !important; }
	.visible-xs-block { display: block !important; }
	.visible-xs-inline { display: inline !important; }
	.visible-xs-inline-block { display: inline-block !important; }
}

@media (min-width: calc(#{$responsive-xs} + 1px)) and (max-width: $responsive-sm) {
	.hidden-sm { display: none !important; }
	.visible-sm-block { display: block !important; }
	.visible-sm-inline { display: inline !important; }
	.visible-sm-inline-block { display: inline-block !important; }
}

@media (min-width: calc(#{$responsive-sm} + 1px)) and (max-width: $responsive-md) {
	.hidden-md { display: none !important; }
	.visible-md-block { display: block !important; }
	.visible-md-inline { display: inline !important; }
	.visible-md-inline-block { display: inline-block !important; }
}

@media (min-width: calc(#{$responsive-md} + 1px)) {
	.hidden-lg { display: none !important; }
	.visible-lg-block { display: block !important; }
	.visible-lg-inline { display: inline !important; }
	.visible-lg-inline-block { display: inline-block !important; }
}

@media (min-width: $breakpoint-min-mobile) {
	@keyframes flashing {
		0% { opacity: 1; }
		50% { opacity: 0; }
		100% { opacity: 1; }
	}

	@keyframes half-flashing {
		0% { opacity: 1; }
		50% { opacity: .3; }
		100% { opacity: 1; }
	}
}

.mtxl {margin-top: 50px !important;}
.ptn {padding-top:0 !important;}
.mtn {margin-top:0 !important;}


/** animation and effects */
//.lift{transition: box-shadow .25s ease, transform .25s ease; }
//.lift:focus,.lift:hover{box-shadow:0 1rem 2.5rem rgba(22,28,45,.1),0 .5rem 1rem -.75rem rgba(22,28,45,.1)!important;transform:translate3d(0,-3px,0)}
//.lift-lg:focus,.lift-lg:hover{box-shadow:0 2rem 5rem rgba(22,28,45,.1),0 .5rem 1rem -.75rem rgba(22,28,45,.05)!important;transform:translate3d(0,-5px,0)}

// ** Grid Gutter overides ** //
$grid-gutter-width: 32px;
$grid-gutter-width-sm: $grid-gutter-width / 2;
$grid-gutter-width-md: $grid-gutter-width * 2;
$grid-gutter-width-lg: $grid-gutter-width * 4;
$grid-gutter-width-xl: $grid-gutter-width * 6;

$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 32px;
$spacing-xl: 64px;

.pan{padding:0}
.paxs{padding:$spacing-xs}
.pas{padding:$spacing-sm}
.pam{padding:$spacing-md}
.pal{padding:$spacing-lg}
.ptn{padding-top:0}
.ptxs{padding-top:$spacing-xs}
.pts{padding-top:$spacing-sm}
.ptm{padding-top:$spacing-md}
.ptl{padding-top:$spacing-lg}
.prn{padding-right:0}
.prxs{padding-right:$spacing-xs}
.prs{padding-right:$spacing-sm}
.prm{padding-right:$spacing-md}
.prl{padding-right:$spacing-lg}
.pbn{padding-bottom:0}
.pbxs{padding-bottom:$spacing-xs}
.pbs{padding-bottom:$spacing-sm}
.pbm{padding-bottom:$spacing-md}
.pbl{padding-bottom:$spacing-lg}
.pln{padding-left:0}
.plxs{padding-left:$spacing-xs}
.pls{padding-left:$spacing-sm}
.plm{padding-left:$spacing-md}
.pll{padding-left:$spacing-lg}
.phn{padding-left:0;padding-right:0}
.phxs{padding-left:$spacing-xs;padding-right:$spacing-xs}
.phs{padding-left:$spacing-sm;padding-right:$spacing-sm}
.phm{padding-left:$spacing-md;padding-right:$spacing-md}
.phl{padding-left:$spacing-lg;padding-right:$spacing-lg}
.pvn{padding-top:0;padding-bottom:0}
.pvxs{padding-top:$spacing-xs;padding-bottom:$spacing-xs}
.pvs{padding-top:$spacing-sm;padding-bottom:$spacing-sm}
.pvm{padding-top:$spacing-md;padding-bottom:$spacing-md}
.pvl{padding-top:$spacing-lg;padding-bottom:$spacing-lg}
.man{margin:0}
.maxs{margin:$spacing-xs}
.mas{margin:$spacing-sm}
.mam{margin:$spacing-md}
.mal{margin:$spacing-lg}
.mtn{margin-top:0}
.mtxs{margin-top:$spacing-xs}
.mts{margin-top:$spacing-sm}
.mtm{margin-top:$spacing-md}
.mtl{margin-top:$spacing-lg}
.mrn{margin-right:0}
.mrxs{margin-right:$spacing-xs}
.mrs{margin-right:$spacing-sm}
.mrm{margin-right:$spacing-md}
.mrl{margin-right:$spacing-lg}
.mbn{margin-bottom:0}
.mbxs{margin-bottom:$spacing-xs}
.mbs{margin-bottom:$spacing-sm}
.mbm{margin-bottom:$spacing-md}
.mbl{margin-bottom:$spacing-lg}
.mln{margin-left:0}
.mlxs{margin-left:$spacing-xs}
.mls{margin-left:$spacing-sm}
.mlm{margin-left:$spacing-md}
.mll{margin-left:$spacing-lg}
.mhn{margin-left:0;margin-right:0}
.mhxs{margin-left:$spacing-xs;margin-right:$spacing-xs}
.mhs{margin-left:$spacing-sm;margin-right:$spacing-sm}
.mhm{margin-left:$spacing-md;margin-right:$spacing-md}
.mhl{margin-left:$spacing-lg;margin-right:$spacing-lg}
.mvn{margin-top:0;margin-bottom:0}
.mvxs{margin-top:$spacing-xs;margin-bottom:$spacing-xs}
.mvs{margin-top:$spacing-sm;margin-bottom:$spacing-sm}
.mvm{margin-top:$spacing-md;margin-bottom:$spacing-md}
.mvl{margin-top:$spacing-lg;margin-bottom:$spacing-lg}



/******************************
 * Break points newicon use:
 * (not yet integrated into newicon site)
 ******************************/
// Extra small screen / phone - Newicon custom
$screen-xxs:                 320px; // ms
// Extra small screen / phone
$screen-xs:                  480px; // m
// Small screen / tablet
$screen-sm:                  640px; // t catch 640 x 480
// Medium screen / desktop
$screen-md:                  770px; // d
// Large screen / wide desktop
$screen-lg:                  980px; // dm
// XLarge screen / wide desktop - Newicon custom
$screen-xl:                  1200px; // dl


.container-fluid {width: 100%;padding-right: 16px;padding-left: 16px;margin-right: auto;margin-left: auto;}
.container {width: 100%;padding-right: 16px;padding-left: 16px;margin-right: auto;margin-left: auto;}


/** basic bootstrap grid **/
.row {display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;margin-right: 16px;margin-left: 16px;}
.col {-ms-flex-preferred-size: 0;flex-basis: 0;-ms-flex-positive: 1;flex-grow: 1;max-width: 100%;padding-right: 16px;padding-left: 16px;}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {position: relative;width: 100%;}
.col {-ms-flex-preferred-size: 0;flex-basis: 0;-ms-flex-positive: 1;flex-grow: 1;max-width: 100%;}
.col-auto {-ms-flex: 0 0 auto;flex: 0 0 auto;width: auto;max-width: 100%;}
.col-1 {-ms-flex: 0 0 8.333333%;flex: 0 0 8.333333%;max-width: 8.333333%;}
.col-2 {-ms-flex: 0 0 16.666667%;flex: 0 0 16.666667%;max-width: 16.666667%;}
.col-3 {-ms-flex: 0 0 25%;flex: 0 0 25%;max-width: 25%;}
.col-4 {-ms-flex: 0 0 33.333333%;flex: 0 0 33.333333%;max-width: 33.333333%;}
.col-5 {-ms-flex: 0 0 41.666667%;flex: 0 0 41.666667%;max-width: 41.666667%;}
.col-6 {-ms-flex: 0 0 50%;flex: 0 0 50%;max-width: 50%;}
.col-7 {-ms-flex: 0 0 58.333333%;flex: 0 0 58.333333%;max-width: 58.333333%;}
.col-8 {-ms-flex: 0 0 66.666667%;flex: 0 0 66.666667%;max-width: 66.666667%;}
.col-9 {-ms-flex: 0 0 75%;flex: 0 0 75%;max-width: 75%;}
.col-10 {-ms-flex: 0 0 83.333333%;flex: 0 0 83.333333%;max-width: 83.333333%;}
.col-11 {-ms-flex: 0 0 91.666667%;flex: 0 0 91.666667%;max-width: 91.666667%;}
.col-12 {-ms-flex: 0 0 100%;flex: 0 0 100%;max-width: 100%;}
.order-first {-ms-flex-order: -1;order: -1;}
.order-last {-ms-flex-order: 13;order: 13;}
.order-0 {-ms-flex-order: 0;order: 0;}
.order-1 {-ms-flex-order: 1;order: 1;}
.order-2 {-ms-flex-order: 2;order: 2;}
.order-3 {-ms-flex-order: 3;order: 3;}
.order-4 {-ms-flex-order: 4;order: 4;}
.order-5 {-ms-flex-order: 5;order: 5;}
.order-6 {-ms-flex-order: 6;order: 6;}
.order-7 {-ms-flex-order: 7;order: 7;}
.order-8 {-ms-flex-order: 8;order: 8;}
.order-9 {-ms-flex-order: 9;order: 9;}
.order-10 {-ms-flex-order: 10;order: 10;}
.order-11 {-ms-flex-order: 11;order: 11;}
.order-12 {-ms-flex-order: 12;order: 12;}
.offset-1 {margin-left: 8.333333%;}
.offset-2 {margin-left: 16.666667%;}
.offset-3 {margin-left: 25%;}
.offset-4 {margin-left: 33.333333%;}
.offset-5 {margin-left: 41.666667%;}
.offset-6 {margin-left: 50%;}
.offset-7 {margin-left: 58.333333%;}
.offset-8 {margin-left: 66.666667%;}
.offset-9 {margin-left: 75%;}
.offset-10 {margin-left: 83.333333%;}
.offset-11 {margin-left: 91.666667%;}
@media (min-width: 576px) {
	.col-sm {-ms-flex-preferred-size: 0;flex-basis: 0;-ms-flex-positive: 1;flex-grow: 1;max-width: 100%;}
	.col-sm-auto {-ms-flex: 0 0 auto;flex: 0 0 auto;width: auto;max-width: 100%;}
	.col-sm-1 {-ms-flex: 0 0 8.333333%;flex: 0 0 8.333333%;max-width: 8.333333%;}
	.col-sm-2 {-ms-flex: 0 0 16.666667%;flex: 0 0 16.666667%;max-width: 16.666667%;}
	.col-sm-3 {-ms-flex: 0 0 25%;flex: 0 0 25%;max-width: 25%;}
	.col-sm-4 {-ms-flex: 0 0 33.333333%;flex: 0 0 33.333333%;max-width: 33.333333%;}
	.col-sm-5 {-ms-flex: 0 0 41.666667%;flex: 0 0 41.666667%;max-width: 41.666667%;}
	.col-sm-6 {-ms-flex: 0 0 50%;flex: 0 0 50%;max-width: 50%;}
	.col-sm-7 {-ms-flex: 0 0 58.333333%;flex: 0 0 58.333333%;max-width: 58.333333%;}
	.col-sm-8 {-ms-flex: 0 0 66.666667%;flex: 0 0 66.666667%;max-width: 66.666667%;}
	.col-sm-9 {-ms-flex: 0 0 75%;flex: 0 0 75%;max-width: 75%;}
	.col-sm-10 {-ms-flex: 0 0 83.333333%;flex: 0 0 83.333333%;max-width: 83.333333%;}
	.col-sm-11 {-ms-flex: 0 0 91.666667%;flex: 0 0 91.666667%;max-width: 91.666667%;}
	.col-sm-12 {-ms-flex: 0 0 100%;flex: 0 0 100%;max-width: 100%;}
	.order-sm-first {-ms-flex-order: -1;order: -1;}
	.order-sm-last {-ms-flex-order: 13;order: 13;}
	.order-sm-0 {-ms-flex-order: 0;order: 0;}
	.order-sm-1 {-ms-flex-order: 1;order: 1;}
	.order-sm-2 {-ms-flex-order: 2;order: 2;}
	.order-sm-3 {-ms-flex-order: 3;order: 3;}
	.order-sm-4 {-ms-flex-order: 4;order: 4;}
	.order-sm-5 {-ms-flex-order: 5;order: 5;}
	.order-sm-6 {-ms-flex-order: 6;order: 6;}
	.order-sm-7 {-ms-flex-order: 7;order: 7;}
	.order-sm-8 {-ms-flex-order: 8;order: 8;}
	.order-sm-9 {-ms-flex-order: 9;order: 9;}
	.order-sm-10 {-ms-flex-order: 10;order: 10;}
	.order-sm-11 {-ms-flex-order: 11;order: 11;}
	.order-sm-12 {-ms-flex-order: 12;order: 12;}
	.offset-sm-0 {margin-left: 0;}
	.offset-sm-1 {margin-left: 8.333333%;}
	.offset-sm-2 {margin-left: 16.666667%;}
	.offset-sm-3 {margin-left: 25%;}  // col12@m col6@d
	.offset-sm-4 {margin-left: 33.333333%;}
	.offset-sm-5 {margin-left: 41.666667%;}
	.offset-sm-6 {margin-left: 50%;}
	.offset-sm-7 {margin-left: 58.333333%;}
	.offset-sm-8 {margin-left: 66.666667%;}
	.offset-sm-9 {margin-left: 75%;}
	.offset-sm-10 {margin-left: 83.333333%;}
	.offset-sm-11 {margin-left: 91.666667%;}
}

@media (min-width: 768px) {
	.col-md {-ms-flex-preferred-size: 0;flex-basis: 0;-ms-flex-positive: 1;flex-grow: 1;max-width: 100%;}
	.col-md-auto {-ms-flex: 0 0 auto;flex: 0 0 auto;width: auto;max-width: 100%;}
	.col-md-1 {-ms-flex: 0 0 8.333333%;flex: 0 0 8.333333%;max-width: 8.333333%;}
	.col-md-2 {-ms-flex: 0 0 16.666667%;flex: 0 0 16.666667%;max-width: 16.666667%;}
	.col-md-3 {-ms-flex: 0 0 25%;flex: 0 0 25%;max-width: 25%;}
	.col-md-4 {-ms-flex: 0 0 33.333333%;flex: 0 0 33.333333%;max-width: 33.333333%;}
	.col-md-5 {-ms-flex: 0 0 41.666667%;flex: 0 0 41.666667%;max-width: 41.666667%;}
	.col-md-6 {-ms-flex: 0 0 50%;flex: 0 0 50%;max-width: 50%;}
	.col-md-7 {-ms-flex: 0 0 58.333333%;flex: 0 0 58.333333%;max-width: 58.333333%;}
	.col-md-8 {-ms-flex: 0 0 66.666667%;flex: 0 0 66.666667%;max-width: 66.666667%;}
	.col-md-9 {-ms-flex: 0 0 75%;flex: 0 0 75%;max-width: 75%;}
	.col-md-10 {-ms-flex: 0 0 83.333333%;flex: 0 0 83.333333%;max-width: 83.333333%;}
	.col-md-11 {-ms-flex: 0 0 91.666667%;flex: 0 0 91.666667%;max-width: 91.666667%;}
	.col-md-12 {-ms-flex: 0 0 100%;flex: 0 0 100%;max-width: 100%;}
	.order-md-first {-ms-flex-order: -1;order: -1;}
	.order-md-last {-ms-flex-order: 13;order: 13;}
	.order-md-0 {-ms-flex-order: 0;order: 0;}
	.order-md-1 {-ms-flex-order: 1;order: 1;}
	.order-md-2 {-ms-flex-order: 2;order: 2;}
	.order-md-3 {-ms-flex-order: 3;order: 3;}
	.order-md-4 {-ms-flex-order: 4;order: 4;}
	.order-md-5 {-ms-flex-order: 5;order: 5;}
	.order-md-6 {-ms-flex-order: 6;order: 6;}
	.order-md-7 {-ms-flex-order: 7;order: 7;}
	.order-md-8 {-ms-flex-order: 8;order: 8;}
	.order-md-9 {-ms-flex-order: 9;order: 9;}
	.order-md-10 {-ms-flex-order: 10;order: 10;}
	.order-md-11 {-ms-flex-order: 11;order: 11;}
	.order-md-12 {-ms-flex-order: 12;order: 12;}
	.offset-md-0 {margin-left: 0;}
	.offset-md-1 {margin-left: 8.333333%;}
	.offset-md-2 {margin-left: 16.666667%;}
	.offset-md-3 {margin-left: 25%;}
	.offset-md-4 {margin-left: 33.333333%;}
	.offset-md-5 {margin-left: 41.666667%;}
	.offset-md-6 {margin-left: 50%;}
	.offset-md-7 {margin-left: 58.333333%;}
	.offset-md-8 {margin-left: 66.666667%;}
	.offset-md-9 {margin-left: 75%;}
	.offset-md-10 {margin-left: 83.333333%;}
	.offset-md-11 {margin-left: 91.666667%;}
}

@media (min-width: 992px) {
	.col-lg {-ms-flex-preferred-size: 0;flex-basis: 0;-ms-flex-positive: 1;flex-grow: 1;max-width: 100%;}
	.col-lg-auto {-ms-flex: 0 0 auto;flex: 0 0 auto;width: auto;max-width: 100%;}
	.col-lg-1 {-ms-flex: 0 0 8.333333%;flex: 0 0 8.333333%;max-width: 8.333333%;}
	.col-lg-2 {-ms-flex: 0 0 16.666667%;flex: 0 0 16.666667%;max-width: 16.666667%;}
	.col-lg-3 {-ms-flex: 0 0 25%;flex: 0 0 25%;max-width: 25%;}
	.col-lg-4 {-ms-flex: 0 0 33.333333%;flex: 0 0 33.333333%;max-width: 33.333333%;}
	.col-lg-5 {-ms-flex: 0 0 41.666667%;flex: 0 0 41.666667%;max-width: 41.666667%;}
	.col-lg-6 {-ms-flex: 0 0 50%;flex: 0 0 50%;max-width: 50%;}
	.col-lg-7 {-ms-flex: 0 0 58.333333%;flex: 0 0 58.333333%;max-width: 58.333333%;}
	.col-lg-8 {-ms-flex: 0 0 66.666667%;flex: 0 0 66.666667%;max-width: 66.666667%;}
	.col-lg-9 {-ms-flex: 0 0 75%;flex: 0 0 75%;max-width: 75%;}
	.col-lg-10 {-ms-flex: 0 0 83.333333%;flex: 0 0 83.333333%;max-width: 83.333333%;}
	.col-lg-11 {-ms-flex: 0 0 91.666667%;flex: 0 0 91.666667%;max-width: 91.666667%;}
	.col-lg-12 {-ms-flex: 0 0 100%;flex: 0 0 100%;max-width: 100%;}
	.order-lg-first {-ms-flex-order: -1;order: -1;}
	.order-lg-last {-ms-flex-order: 13;order: 13;}
	.order-lg-0 {-ms-flex-order: 0;order: 0;}
	.order-lg-1 {-ms-flex-order: 1;order: 1;}
	.order-lg-2 {-ms-flex-order: 2;order: 2;}
	.order-lg-3 {-ms-flex-order: 3;order: 3;}
	.order-lg-4 {-ms-flex-order: 4;order: 4;}
	.order-lg-5 {-ms-flex-order: 5;order: 5;}
	.order-lg-6 {-ms-flex-order: 6;order: 6;}
	.order-lg-7 {-ms-flex-order: 7;order: 7;}
	.order-lg-8 {-ms-flex-order: 8;order: 8;}
	.order-lg-9 {-ms-flex-order: 9;order: 9;}
	.order-lg-10 {-ms-flex-order: 10;order: 10;}
	.order-lg-11 {-ms-flex-order: 11;order: 11;}
	.order-lg-12 {-ms-flex-order: 12;order: 12;}
	.offset-lg-0 {margin-left: 0;}
	.offset-lg-1 {margin-left: 8.333333%;}
	.offset-lg-2 {margin-left: 16.666667%;}
	.offset-lg-3 {margin-left: 25%;}
	.offset-lg-4 {margin-left: 33.333333%;}
	.offset-lg-5 {margin-left: 41.666667%;}
	.offset-lg-6 {margin-left: 50%;}
	.offset-lg-7 {margin-left: 58.333333%;}
	.offset-lg-8 {margin-left: 66.666667%;}
	.offset-lg-9 {margin-left: 75%;}
	.offset-lg-10 {margin-left: 83.333333%;}
	.offset-lg-11 {margin-left: 91.666667%;}
}

@media (min-width: 1200px) {
	.col-xl {-ms-flex-preferred-size: 0;flex-basis: 0;-ms-flex-positive: 1;flex-grow: 1;max-width: 100%;}
	.col-xl-auto {-ms-flex: 0 0 auto;flex: 0 0 auto;width: auto;max-width: 100%;}
	.col-xl-1 {-ms-flex: 0 0 8.333333%;flex: 0 0 8.333333%;max-width: 8.333333%;}
	.col-xl-2 {-ms-flex: 0 0 16.666667%;flex: 0 0 16.666667%;max-width: 16.666667%;}
	.col-xl-3 {-ms-flex: 0 0 25%;flex: 0 0 25%;max-width: 25%;}
	.col-xl-4 {-ms-flex: 0 0 33.333333%;flex: 0 0 33.333333%;max-width: 33.333333%;}
	.col-xl-5 {-ms-flex: 0 0 41.666667%;flex: 0 0 41.666667%;max-width: 41.666667%;}
	.col-xl-6 {-ms-flex: 0 0 50%;flex: 0 0 50%;max-width: 50%;}
	.col-xl-7 {-ms-flex: 0 0 58.333333%;flex: 0 0 58.333333%;max-width: 58.333333%;}
	.col-xl-8 {-ms-flex: 0 0 66.666667%;flex: 0 0 66.666667%;max-width: 66.666667%;}
	.col-xl-9 {-ms-flex: 0 0 75%;flex: 0 0 75%;max-width: 75%;}
	.col-xl-10 {-ms-flex: 0 0 83.333333%;flex: 0 0 83.333333%;max-width: 83.333333%;}
	.col-xl-11 {-ms-flex: 0 0 91.666667%;flex: 0 0 91.666667%;max-width: 91.666667%;}
	.col-xl-12 {-ms-flex: 0 0 100%;flex: 0 0 100%;max-width: 100%;}
	.order-xl-first {-ms-flex-order: -1;order: -1;}
	.order-xl-last {-ms-flex-order: 13;order: 13;}
	.order-xl-0 {-ms-flex-order: 0;order: 0;}
	.order-xl-1 {-ms-flex-order: 1;order: 1;}
	.order-xl-2 {-ms-flex-order: 2;order: 2;}
	.order-xl-3 {-ms-flex-order: 3;order: 3;}
	.order-xl-4 {-ms-flex-order: 4;order: 4;}
	.order-xl-5 {-ms-flex-order: 5;order: 5;}
	.order-xl-6 {-ms-flex-order: 6;order: 6;}
	.order-xl-7 {-ms-flex-order: 7;order: 7;}
	.order-xl-8 {-ms-flex-order: 8;order: 8;}
	.order-xl-9 {-ms-flex-order: 9;order: 9;}
	.order-xl-10 {-ms-flex-order: 10;order: 10;}
	.order-xl-11 {-ms-flex-order: 11;order: 11;}
	.order-xl-12 {-ms-flex-order: 12;order: 12;}
	.offset-xl-0 {margin-left: 0;}
	.offset-xl-1 {margin-left: 8.333333%;}
	.offset-xl-2 {margin-left: 16.666667%;}
	.offset-xl-3 {margin-left: 25%;}
	.offset-xl-4 {margin-left: 33.333333%;}
	.offset-xl-5 {margin-left: 41.666667%;}
	.offset-xl-6 {margin-left: 50%;}
	.offset-xl-7 {margin-left: 58.333333%;}
	.offset-xl-8 {margin-left: 66.666667%;}
	.offset-xl-9 {margin-left: 75%;}
	.offset-xl-10 {margin-left: 83.333333%;}
	.offset-xl-11 {margin-left: 91.666667%;}
}


.grid {
	display:grid;
	grid-template-columns: repeat(12, 1fr);
	grid-column-gap: 1em;
	grid-row-gap: 1em;
	margin:0 1em;
}


@media (min-width: 576px) {
	.cell1\@m {grid-column: span 1;}
	.cell2\@m {grid-column: span 2;}
	.cell6\@m {grid-column: span 6;}
	.cell12\@m {grid-column: span 12};
}
@media (min-width: 770px) {
	.cell1\@d {grid-column: span 1;}
	.cell2\@d {grid-column: span 2;}
	.cell6\@d {grid-column: span 6;}
	.cell12\@d {grid-column: span 12};
}