/* ------------------------------------------------------------ *\
	Settings
\* ------------------------------------------------------------ */

@import '~magnific-popup/dist/magnific-popup.css';
/* overlay at start */
.mfp-fade.mfp-bg {
	opacity: 0;

	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
	opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
	opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
	opacity: 0;

	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	opacity: 0;
}

@import '_settings.scss';

/* ------------------------------------------------------------ *\
	Generic
\* ------------------------------------------------------------ */

@import '_generic.reset.scss';
@import '_generic.base.scss';
@import '_generic.fonts.scss';
@import '_generic.helpers.scss';



/* ------------------------------------------------------------ *\
	Regions
\* ------------------------------------------------------------ */

@import '_region.container.scss';
@import '_region.footer.scss';
@import '_region.header.scss';
@import '_region.shell.scss';
@import '_region.wrapper.scss';

/* ------------------------------------------------------------ *\
	Modules
\* ------------------------------------------------------------ */

@import '_module.accordion.scss';
@import '_module.article.scss';
@import '_module.blog.scss';
@import '_module.blog-post.scss';
@import '_module.book.scss';
@import '_module.btn.scss';
@import '_module.callout.scss';
@import '_module.card.scss';
@import '_module.form.scss';
@import '_module.form-elements.scss';
@import '_module.intro.scss';
@import '_module.link.scss';
@import '_module.list.scss';
@import '_module.logo.scss';
@import '_module.mobile-bar.scss';
@import '_module.nav.scss';
@import '_module.offer.scss';
@import '_module.paging.scss';
@import '_module.parallax.scss';
@import '_module.project.scss';
@import '_module.search.scss';
@import '_module.section.scss';
@import '_module.service.scss';
@import '_module.slider.scss';
@import '_module.socials.scss';
@import '_module.subscribe.scss';
@import '_module.table.scss';
@import '_module.tabs.scss';
@import '_module.team.scss';
@import '_module.testimonial.scss';
@import '_module.timeline.scss';
@import '_module.video.scss';
@import '_module.widget.scss';
@import '_module.icons.scss';

/* ------------------------------------------------------------ *\
	Themes
\* ------------------------------------------------------------ */

/*@import '_theme*.css';*/
