/* ------------------------------------------------------------ *\
	Header
\* ------------------------------------------------------------ */

.header { position: absolute; top: 0; left: 0; z-index: 10; width: 100%; }
.header_mobileLogo { display: none; position: relative; margin: 0 auto; font-size: 0;}
.navTrigger { display: none; }
.header-transparent { padding: 10px 0; }
.header-transparent .nav > ul > li > a { opacity: .6; }

/* Tablet Portrait */

@media (max-width: $breakpoint-tablet-portrait) {
	.header {
		position: fixed; padding: 15px 0 17px;
		backdrop-filter: saturate(180%) blur(20px);
		background-color: rgba(255,255,255,0.7);
	}
	.header_inner { padding: 0 21px 0 27px; }
	.header_mobileLogo { display:  block;  }
	.header .nav { position: fixed; top: 6px; bottom: 100px; left: 10px; width: calc(100% - 20px); }
	.header .navTrigger { position: absolute; top: 50%; right: 21px; display: block; transform: translateY(-50%); }
	.header-transparent .nav > ul > li > a { opacity: 1; }
}

@media (max-width: $breakpoint-mobile-portrait) {
	.header_mobileLogo { margin-top: -3px; }
}