<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>New Icon</title>

	<link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.ico" />
	<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800,900%7CVolkhov:400,400i" rel="stylesheet">
	<link rel="stylesheet" href="assets/vendor/font-awesome-4.7.0/css/font-awesome.min.css" />
	<link rel="stylesheet" href="assets/vendor/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css" />

	<link rel="stylesheet" type="text/css" href="assets/css/bundle.css" />
</head>
