/* ============================================ *
 * BASE STYLES
* ============================================ */

/*carousel contained in modal - style the 'extrinsic' properties of the carousel
due to containment inside modal
*/

.modal_carousel {

	.carousel {

		&_slidesContainer {
			border: none;
			margin: 0;
		}

		&_body {
			padding: 0;
		}
	}

	.modal {
		&_dialog {
			width:80%;
		}
	}

}

.m_slide_bodyCenter {
    position: relative;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
 }



/* ============================================ *
 * MAX WIDTH QUERIES
* ============================================ */

// *** Mobile devices only (less than 480px) *** //
@media (max-width: (@screen-phone - 1)) {

}

// *** Mobile & tablet devices only (less than 770px) *** //
@media (max-width: @screen-sm-max) {

}

// *** Mobile & tablet devices only (less than 600px) *** //
@media (max-width: @screen-xs-max) {

}


/* ============================================ *
 * MIN WIDTH QUERIES
 * ============================================ */

// *** Mobile devices (480px and up) *** //
@media (min-width: @screen-xs-min) {

}

// *** Small devices (tablets, 600px and up) *** //
@media (min-width: @screen-sm-min) {

}

// *** Medium devices (desktops, 770px and up) *** //
@media (min-width: @screen-md-min) {

}

// *** Large devices (large desktops, 980px and up) *** //
@media (min-width: @screen-lg-min) {

}

// *** XLarge devices (Xlarge desktops, 1200px and up) *** //
@media (min-width: @screen-xl-min) {

}
