/* ------------------------------------------------------------ *\
	Shell
\* ------------------------------------------------------------ */

.shell { max-width: calc(#{$shell-max-width} + #{$shell-gutter} * 2); padding-left: $shell-gutter; padding-right: $shell-gutter; margin: auto; }

.shell-sm { max-width: calc(#{$shell-sm-max-width} + #{$shell-gutter} * 2); }

.shell-xs { max-width: calc(#{$shell-xs-max-width} + #{$shell-gutter} * 2); }

.shell-fluid { max-width: none; padding: 0; }
